.regexp-tool__input__group
    width: 90%
    height: 50px

    margin: 30px auto
    display: flex
    align-item: center
    justify-content: center

    .label
        margin-top: auto
        margin-bottom: auto
        width: 200px

.contentEditableComponent
    border: 2px solid #000
    width: 500px
    height: 100%
    text-align: center
    line-height: 50px
    font-size: 24px
    span
        line-height: 50px
        font-size: 24px
        &.hit
            color: #f99
            border: 1px solid #cfcfcf
